nav
    ul
        li
            a(href="#") home page
        li
            a(href="#") two sidebars
        li
            a(href="#") left sidebar
        li
            a(href="#") right sidebar
        li
            a(href="#") no sidebar