include index/mixin
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/website.css")
    body
        .cover
            .header
                h1 Monochromed
                p Design by ahmed hassan
            include index/nav
        //- start section gravida
        .gravida
            h1 gravida nibh quis urna
            div
                div
                    img(src="img/pics01.jpg", alt="img")
                    p Quisque dictum. Pellentesque viverra  enim. Integer nisl risus, sagittis convallis, rutrum id, elementum.
                    button read more
                div
                    img(src="img/pics11.jpg", alt="img")
                    p Pellentesque viverra  enim. Tristique ante ut risus. Quisque dictum. Integer sagittis convallis elementum.
                    button read more
                div
                    img(src="img/pics12.jpg", alt="img")
                    p Pellentesque viverra  enim. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum.
                    button read more
                div
                    img(src="img/pics13.jpg", alt="img")
                    p Tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis elementum.
                    button read more
        //- start div hr
        .hr
        //- start section integer
        .integer
            div
                h1 Integer gravida nibh quis urna
                p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.
                img(src="img/pics02.jpg", alt="")
                p This is Monochromed, a responsive HTML5 site template freebie by TEMPLATED. Released for free under the Creative Commons Attribution license, so use it for whatever (personal or commercial) – just give us credit! Check out more of our stuff at our site or follow us on Twitter.
                button read more
            div
                h1 Gravida praesent
                p Praesent lacus congue rutrum
                p Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Maecenas luctus lectus at sapien. Consectetuer adipiscing elit.
                +linkes
        //- start section aenean
        .aenean
            .perant
                .articles
                    .diva
                        .divb
                            div
                                img(src="img/pics05.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                        .divb
                            div
                                img(src="img/pics06.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                        .divb
                            div
                                img(src="img/pics07.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                        
                    .diva
                        .divb
                            div
                                img(src="img/pics08.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                        .divb
                            div
                                img(src="img/pics09.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                        .divb
                            div
                                img(src="img/pics10.jpg", alt="")
                            div
                                span Nullam non wisi a sem eleifend. Donec mattis libero eget urna.
                        p August 11, 2014 | (10) Comments
                       
                    .links
                        h1 Aenean elementum
                        p In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus.
                        +linkes
        //- start section footer
        footer
            div
                p Design: AHMED HASSAN Images: Unsplash (CC0)


